@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
 }

.container{
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
   // font-weight: 700;
    display: flex;
    background-color: #FAFCFF;
    flex-direction: column;
    align-items: center;
}
.info{
    margin: 20px 5px 5px 15px;
    h1{
        
       font-weight: 700;
    }
}
.carteira{
    
    
    width: min(90vw, 600px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    h2{
        margin: 0;
        color: rgb(51, 51, 51);
        font-size: 24px;
    }
}
.ativos{
    //width: min(90vw, 650px);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;  
    p{
        margin: 5px 2px 3px 2px  ;
    }
}
.tradesBTC{
    width: fit-content;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.boxTrades{
    display: flex;
    flex-direction: column;   
}
.tradeItem {
    p{
        margin: 5px 2px 3px 2px  ;
    }
    width: min(90vw, 650px);
    margin: 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    
}
.caixa{
    
    height: 5px;
    border-style: solid;
    border-width: 1px;
}


@media (min-width: 1024px)
{
    .container{
        display: flex;
        flex-direction: column;
        align-items: initial;
    }
    .info{
        margin: 20px 5px 5px 15px;
    }
    .carteira{
        
        width: min(90vw, 600px);
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
    }
    .ativos{
        width: min(90vw, 650px);
        display: flex;
        align-items: center;
        flex-direction: column;  
        p{
            margin: 5px 2px 3px 2px  ;
        }
    }
    .boxTrades{
        display: flex;
        flex-direction: row;
        //flex-wrap: wrap;
    }
    .tradeItem {
        p{
            margin: 5px 2px 3px 2px  ;
        }
        flex-direction: row-reverse;
        width: min(30vw, 1000px);
        margin: 15px;
        box-sizing: border-box;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        border-style: solid;
        border-width: 1px;
        
    }
    
}

.tabelaCarteira{
    width: 100%;;
    height: fit-content;
    background-color: rgb(236, 236, 236);
    border-radius: 10px 10px 10px 10px ;
}
.cabecalho{
    width: 100%;
    
    background-color: rgb(199, 199, 199);
    border-radius: 10px 10px 2px 2px ;
    display: flex;
    justify-content: space-around;
    p{
        margin: 10px 0 10px 0;
    }


    
}
.listaAtivos{
    display: flex;
    flex-direction: column;

}
.ativo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;

    p{
        margin: 0;
    }

}
.saldo{
    p{
        margin: 0 10px 0 10px;
    }
    width: 100%;
    height: 70px;
    margin: 15px 0 15px 0 ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(184, 180, 180, 0.3);
    border: 1px;
    border-style: solid;
    border-color: rgba(196, 196, 196, 0.3) ;
    border-radius: 10px 10px 10px 10px ;
    

}
.valorSaldo{
    justify-self: initial;
    font-size: 30px;
   
    
}
.moedaSaldo{
    font-weight: 700;
    font-size: 30px;

   
}
.infoSaldo{
    background-color: #FAFCFF;
    
}

.headbar{
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #d8d8d8 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p{
        margin:  0 10px 0 10px;
    }
}
.setaVoltar{
    margin: 0 10px 0 15px;
}
