.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    margin: 20px 5px 5px 15px;
}
.carteira{
    
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ativos{
    width: min(90vw, 650px);
    display: flex;
    align-items: center;
    flex-direction: column;  
    p{
        margin: 5px 2px 3px 2px  ;
    }
}
.tradesBTC{
    width: fit-content;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.boxTrades{
    display: flex;
    flex-direction: column;   
}
.tradeItem {
    p{
        margin: 5px 2px 3px 2px  ;
    }
    width: min(90vw, 650px);
    margin: 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    
}
.caixa{
    
    height: 5px;
    border-style: solid;
    border-width: 1px;
}


@media (min-width: 1024px)
{
    .container{
        display: flex;
        flex-direction: column;
        align-items: initial;
    }
    .info{
        margin: 20px 5px 5px 15px;
    }
    .carteira{
        
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ativos{
        width: min(90vw, 650px);
        display: flex;
        align-items: center;
        flex-direction: column;  
        p{
            margin: 5px 2px 3px 2px  ;
        }
    }
    .boxTrades{
        display: flex;
        flex-direction: row;
        //flex-wrap: wrap;
    }
    .tradeItem {
        p{
            margin: 5px 2px 3px 2px  ;
        }
        flex-direction: row-reverse;
        width: min(30vw, 1000px);
        margin: 15px;
        box-sizing: border-box;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        border-style: solid;
        border-width: 1px;
        
    }
    
}

.tabelaCarteira{
    width: min(500px, 85vw);
    height: fit-content;
    background-color: rgb(236, 236, 236);
    border-radius: 10px 10px 10px 10px ;
}
.cabecalho{
    width: 100%;
    
    background-color: rgb(199, 199, 199);
    border-radius: 10px 10px 2px 2px ;
    display: flex;
    justify-content: space-around;
    p{
        margin: 10px 0 10px 0;
    }


    
}
.listaAtivos{
    display: flex;
    flex-direction: column;

}
.ativo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;

    p{
        margin: 0;
    }

}
.saldo{
    p{
        margin: 0;
    }
    width: min(500px, 85vw);
    height: 70px;
    margin: 15px 0 15px 0 ;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgb(212, 212, 212);
    border-radius: 10px 10px 10px 10px ;

}
.valorSaldo{
    justify-self: initial;
    font-size: 30px;
    padding: 0 0 10px 0;
}
.moedaSaldo{
    font-weight: 500;
    justify-self: end;
    padding: 0 0 10px 0;
}
.infoSaldo{
    padding: 0 0 10px 0;
    
}