@media (max-width: 1024px)
{
    .hello{
        display: none;
        width: 50vw;
    }
    
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* background-color: #34435E; */
    
    font-size: 50px;
    color: #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
   
}
.header{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: row;

    align-items: center;
}
.hello{
    margin: 15px;
    width: 50vw;
    
}
.linkTree{
    width: max(700px, 100vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    background-color: #34435E;
    h1{
        color: #E6E6E6;
        margin: 20px 0 0 0;
    }
    p{  
        text-align: center;
        width: min(85vw, 500px);
    }
    

}
.cellPhone{
   
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;

    height: 100%;
    width: 100%;

    /* border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 50px;
    background-color: aliceblue; */
    
}
.iconPerfil{
    width: 150px;
    margin: 75px 20px 20px 20px ;    
    p{  
        
        width: max-content;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0 10px 0;
        color: #E6E6E6;
    }
}
.logo{
    border-radius: 100px;
    border-width: 1px;
    border-color: #E6E6E6;
    border-style: solid;
}
.buttonTree{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: min(450px, 95vw);
    height: 70px;

    border-radius: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;

    margin: 15px 0px 15px 0px;
    background-color: #2B384F;   
    font-family: Arial, Helvetica, sans-serif;
    p{  
        width: fit-content;
        margin: 0;
    }
    
    color: #E6E6E6;
    text-align: center;
    
 }
 .github{
     width: 60px;
     height: 60px;
 }


