.mainBox{
   
    //position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 85vh;

    background-color: rgb(240, 232, 232);
}
.header{
    //width: 100%;   
    //background: aquamarine; 
    margin: 13px;
    
}
