.mainBox{
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 980px;

    background-color: rgb(240, 232, 232);
}
.header{
    width: 100%;    
    animation: rotate 18s .5s infinite linear reverse;
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        font-size: min(5vw, 48px);
        width: max-content;
       
    }
    
}
@keyframes rotate {
	0%{
		transform: rotateZ(0deg) translate3d(0,1.5%,0) rotateZ(0deg)}
	100%{
		transform: rotateZ(360deg) translate3d(0,1.5%,0) rotateZ(-360deg)}
    }